---
import AboutMe from "../components/AboutMe.astro";
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
import Education from "../components/Education.astro";
import WorkExperience from "../components/WorkExperience.astro";
import Skills from "../components/Skills.astro";
import References from "../components/References.astro";
---

<Layout title="Bienvenido a mi Portfolio">
  <section id="about-me">
    <AboutMe />
    <Projects/>
    <Skills />
    <Education />
    <WorkExperience />
    <References />
  </section>
</Layout>