---
//datos importados del json
import data from "../data/data-en.json";
const { aboutMe } = data;
---
<section class="text-center mb-12">
  <img src={`/images/${data.aboutMe.photo}`} alt="Mi foto de perfil" class="rounded-full mx-auto mt-4 w-48 h-48 object-cover" />
  <h1 class="text-4xl font-semibold text-indigo-600 mt-6">{data.aboutMe.name}</h1>
  <p class="text-xl text-gray-600 mt-4">{data.aboutMe.profession}</p>
  <p class="mt-4 text-lg text-gray-800">{data.aboutMe.description}</p>
</section>