---
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title ? title : 'Mi Portfolio'}</title>
    <link href="/styles/global.css" rel="stylesheet" />
  </head>
  <body class="bg-color1 shadow-lg shadow-opacity-100">
    <div class="flex flex-row">
      <header class="bg-color2 text-whitish py-4 h-screen pt-24 w-1/5 fixed">
        <nav class="flex flex-col pl-20p gap-60">
          <ul class="flex flex-col gap-8">
            <li><a href="#about-me" class="font-poppins italic hover:text-blackish">My self</a></li>
            <li><a href="#projects" class="font-poppins italic hover:text-blackish">My Work</a></li>
            <li><a href="#contact" class="font-poppins italic hover:text-blackish">My resumé</a></li>
          </ul>
          <ul class="flex flex-col gap-4">
            <li><img src="../../public/gitHub.png" alt="gitHub" class="h-14 hover:drop-shadow-md" /></li>
            <li><img src="../../public/linkedIn.png" alt="linkedIn" class="h-14 hover:drop-shadow-md" /></li>
            <li><img src="../../public/mail.png" alt="contact" class="h-14 hover:drop-shadow-md" /></li>
          </ul>
        </nav>
      </header>
      <!-- <main class="container mx-auto mt-8"> -->
      <slot />
      <!-- </main> -->
    </div>
  </body>
</html>
