---
const { title, lang } = Astro.props;
const otherLang = lang === "en" ? "/indexEs" : "/";
const otherLangText = lang === "en" ? "Español" : "English";
import Footer from '../components/Footer.astro';

---
<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title ? title : 'Mi Portfolio'}</title>
    <link href="/styles/global.css" rel="stylesheet" />

  </head>
  <body class="bg-color1 shadow-lg shadow-opacity-100">
    <div class="flex min-h-screen">
      <header class="bg-color6 text-whitish h-screen w-1/5 fixed shadow-black shadow-xl">
        <nav class="h-screen flex flex-col justify-between">
          <div class="flex flex-col">
            <div class="mt-28">
              <ul class="flex flex-col gap-8 pl-12 mt-4">
                <li><a href="#about-me" class="font-poppins italic text-xl hover:underline hover:text-blackish">My self</a></li>
                <li><a href="#projects" class="font-poppins italic text-xl hover:underline hover:text-blackish">My Work</a></li>
                <li><a href="#resume" class="font-poppins italic text-xl hover:underline hover:text-blackish">My resumé</a></li>
              </ul>
            </div>
          </div>
          <div class="flex flex-row justify-between mb-10">
            <ul class="items-start ml-10 flex flex-col">
              <li>
                <a href="https://github.com/tu-usuario" target="_blank" rel="noopener noreferrer">
                  <img src="/gitHub.png" alt="gitHub" class="h-14 mb-4 hover:scale-[1.15] transition-transform duration-300 hover:drop-shadow-md" />
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/luna-merino/" target="_blank" rel="noopener noreferrer">
                  <img src="/public/linkedIn.png" alt="linkedIn" class="h-14 mb-4 hover:scale-[1.15] transition-transform duration-300 hover:drop-shadow-md" /></li>
                </a>
              <li>
                  <a href="#contact">
                    <img src="/public/mail.png" alt="contact" class="h-14 hover:scale-[1.15] transition-transform duration-300 hover:drop-shadow-md" data-scroll-to-contact/>
                  </a>
                </li>
            </ul>
          <a href={otherLang} class="lang-switch flex flex col items-end font-poppins italic text-right mt-4 mr-12  hover:underline hover:text-blackish">
            {otherLangText}
          </a>
          </div>
        </nav>
      </header>
      <div class="ml-[20%] w-4/5">
        <main>
          <slot />
        </main>
        <Footer />
      </div>
    </div>

    <!-- script para el scrolls-->
    <script>

      // scroll secciones menu
      document.addEventListener('DOMContentLoaded', () => {
      const links = document.querySelectorAll('a[href^="#"]');

        links.forEach(link => {
          link.addEventListener('click', (event) => {
            event.preventDefault();

            const href = link.getAttribute('href');
            if (href && href.startsWith('#')) {
              const targetId = href.slice(1);
              const targetElement = document.getElementById(targetId);

              if (targetElement) {
                targetElement.scrollIntoView({ behavior: 'smooth' });
              }
            }
          });
        });
      });

      // scroll contacto
      document.addEventListener('DOMContentLoaded', () => {
        const mailButton = document.querySelector('[data-scroll-to-contact]');
        if (mailButton) {
          mailButton.addEventListener('click', () => {
            const contactSection = document.getElementById('contact');
            if (contactSection) {
              contactSection.scrollIntoView({ behavior: 'smooth' });
            }
          });
        }
      });
    </script>
  </body>
</html>