---
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title ? title : 'Mi Portfolio'}</title>
    <link href="/styles/global.css" rel="stylesheet" />
  </head>
  <body class="bg-color1">
    <!-- <div> -->
    <header class="bg-color2 text-whitish py-4">
      <nav class="container mx-auto flex justify-between items-center">
        <h1 class="text-3xl font-poppins italic">Mi Portfolio</h1>
        <ul class="flex space-x-6">
          <li><a href="#about-me" class="font-poppins italic hover:text-blackish">My self</a></li>
          <li><a href="#projects" class="font-poppins italic hover:text-blackish">My Work</a></li>
          <li><a href="#contact" class="font-poppins italic hover:text-blackish">My resumé</a></li>
        </ul>
      </nav>
    </header>
    <main class="container mx-auto mt-8">
      <slot />
    </main>
  </body>
</html>
