---
const { title, lang } = Astro.props;
const otherLang = lang === "en" ? "/indexEs" : "/indexEn";
const otherLangText = lang === "en" ? "Español" : "English";
---
<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title ? title : 'Mi Portfolio'}</title>
    <link href="/styles/global.css" rel="stylesheet" />
  </head>
  <body class="bg-color1 shadow-lg shadow-opacity-100">
    <div class="flex flex-row">
      <header class="bg-color2 text-whitish py-4 h-screen pt-24 w-1/5 fixed">
        <nav class="flex flex-col pl-20p gap-60">
          <a href={otherLang} class="lang-switch">
            {otherLangText}
          </a>
          <ul class="flex flex-col gap-8">
            <li><a href="#about-me" class="font-poppins italic hover:text-blackish">My self</a></li>
            <li><a href="#projects" class="font-poppins italic hover:text-blackish">My Work</a></li>
            <li><a href="#contact" class="font-poppins italic hover:text-blackish">My resumé</a></li>
          </ul>
          <ul class="flex flex-col gap-4">
            <li><img src="../../public/gitHub.png" alt="gitHub" class="h-14 hover:drop-shadow-md" /></li>
            <li><img src="../../public/linkedIn.png" alt="linkedIn" class="h-14 hover:drop-shadow-md" /></li>
            <li>
              <img
                src="../../public/mail.png"
                alt="contact"
                class="h-14 hover:drop-shadow-md cursor-pointer"
                data-scroll-to-contact
              />
            </li>
          </ul>
        </nav>
      </header>
      <main class="ml-60 w-4/5">
        <slot />
      </main>
    </div>
    <!-- script para el scrolling -->
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const mailButton = document.querySelector('[data-scroll-to-contact]');
        if (mailButton) {
          mailButton.addEventListener('click', () => {
            const contactSection = document.getElementById('contact');
            if (contactSection) {
              contactSection.scrollIntoView({ behavior: 'smooth' });
            }
          });
        }
      });
    </script>
  </body>
</html>